@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-audiowide: "Audiowide", mono;
    --font-normal: "Montserrat" sans-serif;
}

:root {
    .gradient {
        background-image: linear-gradient(to right, var(--color-red-500), var(--color-pink-500), var(--color-purple-500));
    }
}

